
@section Tabs {
<div class="tabs">
	<a class="tab" data-tooltip="users" method="get" asp-controller="Task" asp-action="GetTaskList">
		Tasks
	</a>
	<a class="tab" data-tooltip="adduser" method="get" asp-controller="Task" asp-action="AddTask">
		Add Task
	</a>
	<a class="tab active" data-tooltip="usercourse" method="get" asp-controller="Task" asp-action="UpdateTask">
		Edit Task
	</a>
	<a class="tab" data-tooltip="userresult" method="get" asp-controller="Task" asp-action="DeleteTask">
		Delete Task
	</a>
</div>
}


<form class="user__course" method="post" action="@Url.Action("GetTaskById", "Task")">
	<input type="text" name="id" placeholder="Task id" class="get__inptut" />
	<button class="confirm" type="submit">Get</button>
</form>
