

@section Tabs {
	<div class="tabs">
		<a class="tab active" data-tooltip="users" method="get" asp-controller="Task" asp-action="GetTaskList">
			Tasks
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Task" asp-action="AddTask">
			Add Task
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="Task" asp-action="UpdateTask">
			Edit Task
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="Task" asp-action="DeleteTask">
			Delete Task
		</a>
	</div>
}

@using NonFactors.Mvc.Grid
@model List<MVC.Entity.Task>

	
<div class="user-table">
    <script>
            console.log(model);
        </script>
    @(Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Filterable(true).Sortable(true);
        columns.Add(model => model.Title).Titled("Title").Filterable(true).Sortable(true);
        columns.Add(model => model.Description).Titled("Description").Filterable(true).Sortable(true);
        columns.Add(model => model.Lesson.Title).Titled("Lesson Title").Filterable(true).Sortable(true);
    })
        )
</div>

