

@section Tabs {
	<div class="tabs">
		<a class="tab active" data-tooltip="users" method="get" asp-controller="Education" asp-action="GetEducationList">
			AboutCourse
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Education" asp-action="AddEducation">
			Add AboutCourse
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="Education" asp-action="UpdateEducation">
			Edit AboutCourse
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="Education" asp-action="DeleteEducation">
			Delete AboutCourse
		</a>
	</div>
}

@using NonFactors.Mvc.Grid
@model List<MVC.Entity.Education>

	
<div class="user-table">
    <script>
            console.log(model);
        </script>
    @(Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Filterable(true).Sortable(true);
        columns.Add(model => model.Title).Titled("FullName").Filterable(true).Sortable(true);
        columns.Add(model => model.Description).Titled("Email").Filterable(true).Sortable(true);
        columns.Add(model => model.Course.Description).Titled("Email").Filterable(true).Sortable(true);

    }))
</div>
