@section Tabs {
	<div class="tabs">
		<a class="tab" data-tooltip="users" method="get" asp-controller="Result" asp-action="GetResults">
			Results
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Result" asp-action="AddResult">
			Add Result
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="Result" asp-action="UpdateResult">
			Edit Result
		</a>
		<a class="tab active" data-tooltip="userresult" method="get" asp-controller="Result" asp-action="DeleteResult">
			Delete Result
		</a>
	</div>
}



<form class="user__course" method="post" action="@Url.Action("DeleteResult", "Result")">
	<input type="text" name="id" placeholder="Result id" class="get__inptut" />
	<button class="confirm" type="submit">Delete</button>
</form>