

@section Tabs {
	<div class="tabs">
		<a class="tab active" data-tooltip="users" method="get" asp-controller="Result" asp-action="GetResults">
			Results
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Result" asp-action="AddResult">
			Add Result
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="Result" asp-action="UpdateResult">
			Edit Result
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="Result" asp-action="DeleteResult">
			Delete Result
		</a>
	</div>
}

@using NonFactors.Mvc.Grid
@model List<MVC.Entity.Result>

	
<div class="user-table">
    <script>
            console.log(model);
        </script>
    @(Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Filterable(true).Sortable(true);
        columns.Add(model => model.Url).Titled("URL").Filterable(true).Sortable(true);
        columns.Add(model => model.Education.Title).Titled("Education Title").Filterable(true).Sortable(true);
        columns.Add(model => model.User.FullName).Titled("User FullName").Filterable(true).Sortable(true);

    })
        )
</div>

