@section Tabs {
	<div class="tabs">
		<a class="tab" data-tooltip="users" method="get" asp-controller="User" asp-action="GetUserList">
			Users
		</a>
		<a class="tab active" data-tooltip="adduser" method="get" asp-controller="User" asp-action="AddUser">
			Add User
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="User" asp-action="GetUserCourses">
			User Courses
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="User" asp-action="GetUserResults">
			User Result
		</a>
		<a class="tab" data-tooltip="userfeedback" method="get" asp-controller="User" asp-action="GetUserFeedbacks">
			User Feedback
		</a>
	</div>
}

<form class="update-form" method="post" action="@Url.Action("AddUser", "User")">
    <input type="text" name="fullName" class="input" placeholder="FullName"/>
    <input type="text" name="newEmail" class="input" placeholder="Email"/>
    <input type="password" name="newPassword" class="input" placeholder="Password"/>
    <div class="btns">
        <button class="confirm" type="submit">Confirm</button>
        <button method="get" asp-controller="User" asp-action="GetUserList" class="cancel">Cancel</button>
    </div>
</form>