@section Tabs {
	<div class="tabs">
		<a class="tab" data-tooltip="users" method="get" asp-controller="User" asp-action="GetUserList">
			Users
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="User" asp-action="AddUser">
			Add User
		</a>
		<a class="tab active" data-tooltip="usercourse" method="get" asp-controller="User" asp-action="GetUserCourses">
			User Courses
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="User" asp-action="GetUserResults">
			User Result
		</a>
		<a class="tab" data-tooltip="userfeedback" method="get" asp-controller="User" asp-action="GetUserFeedbacks">
			User Feedback
		</a>
	</div>
}

@model List<MVC.Dto.CourseDTO> 
<head>
	<style>

		body{
			background-color: #1f1f1f;
		}

		#null{
			text-align: center;
		}

		.course__table {
			background-color: inherit;
			color: white;
			width: 100%;
			border-collapse: collapse;
			border: 1px solid white;
		}

		.course__table th,
		.course__table td {
			padding: 20px;
			border: 1px solid white;
		}

		.course__table th {
			background-color: #333;
		}
	</style>
</head>
<body>
<table class="course__table">
	<thead>
	<tr>
		<th>Id</th>
		<th>Description</th>
		<th>Price</th>
	</tr>
	</thead>
	<tbody>
	@if (Model == null || Model.Count == 0)
	{
		<tr>
			<td colspan="3" id="null">User don't have courses</td>
		</tr>
	}
	else
	{
		@foreach (var user in Model)
		{
			<tr>
				<td>
					<span>@user.Id</span>
				</td>
				<td>
					<span>@user.Description</span>
				</td>
				<td>
					<span>@user.Price</span>
				</td>
			</tr>
		}
	}
	</tbody>
</table>
</body>