

@section Tabs {
	<div class="tabs">
		<a class="tab active" data-tooltip="users" method="get" asp-controller="Contact" asp-action="GetContacts">
			Contacts
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Contact" asp-action="DeleteContact">
			Delete Contact
		</a>
	</div>
}

@using NonFactors.Mvc.Grid
@model List<MVC.Entity.Contact>

	
<div class="user-table">
    <script>
            console.log(model);
        </script>
    @(Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Filterable(true).Sortable(true);
        columns.Add(model => model.Name).Titled("Name").Filterable(true).Sortable(true);
        columns.Add(model => model.PhoneNumber).Titled("PhoneNumber").Filterable(true).Sortable(true);
        columns.Add(model => model.DateTime).Titled("DateTime").Filterable(true).Sortable(true);

            })
        )
</div>

