
@section Tabs {
	<div class="tabs">
		<a class="tab active" data-tooltip="users" method="get" asp-controller="Lesson" asp-action="GetLessons">
			Lessons
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Lesson" asp-action="AddLesson">
			Add Lesson
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="Lesson" asp-action="UpdateLesson">
			Edit Lesson
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="Lesson" asp-action="DeleteLesson">
			Delete Lesson
		</a>
	</div>
}


@using NonFactors.Mvc.Grid
@model List<MVC.Entity.Lesson>

	
<div class="user-table">
    <script>
            console.log(model);
        </script>
    @(Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Filterable(true).Sortable(true);
        columns.Add(model => model.Title).Titled("Title").Filterable(true).Sortable(true);
        columns.Add(model => model.VideoUrl).Titled("VideoUrl").Filterable(true).Sortable(true);
        columns.Add(model => model.Information).Titled("Information").Filterable(true).Sortable(true);
        columns.Add(model => model.Course.Description).Titled("Course Name").Filterable(true).Sortable(true);
    })
        )
</div>