
@section Tabs {
	<div class="tabs">
		<a class="tab active" data-tooltip="users" method="get" asp-controller="Homework" asp-action="GetHomeworks">
			Homeworks
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Homework" asp-action="AddHomework">
			Add Homework
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="Homework" asp-action="UpdateHomework">
			Edit Homework
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="Homework" asp-action="DeleteHomework">
			Delete Homework
		</a>
	</div>
}


@using NonFactors.Mvc.Grid
@model List<MVC.Entity.Homework>

	
<div class="user-table">
    <script>
            console.log(model);
        </script>
    @(Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id").Filterable(true).Sortable(true);
        columns.Add(model => model.ImageUrl).Titled("URL").Filterable(true).Sortable(true);
        columns.Add(model => model.Description).Titled("Description").Filterable(true).Sortable(true);

    })
        )
</div>

